* 
/* Define box settings  */
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Set body background color  */
body {
    background-color: #d9dcd6;
}


/* Define class settings  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Define heading class settings  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Define heading class color */
.header h1 .seo {
    color: #d9dcd6;
}

/* Define class settings  */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Define class settings  */
.header nav ul {
    list-style-type: none;
}

/* Define class settings */
.header nav li {
    display: inline;
    margin-left: 25px;
}

/* Define anchor element settings */
a {
    color: #ffffff;
    text-decoration: none;
}




/* Define class settings and Background Image Placeholders */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");

    background-size: cover;
    background-position: center;
}




/* Define class settings */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Define class settings  */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set the maximum height size of the image   */
.search-engine-optimization img {
    max-height: 200px;
}

/* Define class settings  */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set the heading font and margin of the class */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Define p elements settings  */
p {
    font-size: 16px;
}


/* Define class settings  */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set the maximum height size of the image   */
.online-reputation-management img {
    max-height: 200px;
}

/* Define class settings  */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Set the heading font and margin of the class  */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* Define class settings  */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set the maximum height size of the image  */
.social-media-marketing img {
    
    max-height: 200px;
}
/* Set the heading font and margin of the class  */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* Define class settings */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Define class settings */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Define heading settings of the class  */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Define class image settings */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Define class settings  */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Define heading settings of the class  */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Define class image settings  */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Define class settings  */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Define heading settings of the class  */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Define class image settings  */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/* Define class settings  */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Set the heading font size of the footer */
.footer h2 {
    font-size: 20px;
}
